extends ../layout

block content

  .page-header
    h3 Esnafları Yönet
  .container-fluid
   table(class=table).table-bordered.table-hover.table-striped.table-condensed
    thead
      tr
       th Esnaf Adı
       th İş Alanı
       th İzin Verilen Promosyon Sayısı
     for jMerchant in sMerchants
      tr
       td #{jMerchant.merchant_data.merchantName}
       td #{jMerchant.merchant_data.merchantBusinessDomain}
       td #{jMerchant.merchant_data.merchantWeeklyEligiblePromotion}
       td #{jMerchant.merchant_data.merchantMembershipStart}
       td #{jMerchant.merchant_data.merchantMembershipEnds}
       td
        .button.btn-primary(onclick="location.href = '/updateMerchant?id=#{jMerchant._id}'")
         | Güncelle
       td
        .button.btn-primary(onclick="location.href = '/deleteMerchant?id=#{jNotification._id}'")
         | Sil

